[tool.poetry]
name = "sysplant"
version = "0.1.4"
description = "SysPlant - Your syscall factory"
authors = ["Ben Mz <x42en@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
mkdocs-awesome-pages-plugin = "^2.9.1"
lazydocs = "^0.4.8"
poetry-bumpversion = "^0.3.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[[tool.poetry_bumpversion.replacements]]
files = ["__metadata.py"]
search = '__version__ = "{current_version}"'
replace = '__version__ = "{new_version}"'

[[tool.poetry_bumpversion.replacements]]
files = ["README.md", "docs/index.md"]
search = 'Version: {current_version}'
replace = 'Version: {new_version}'

[tool.coverage.run]
omit = [".*", "*/sysplant/*"]

[tool.coverage.report]
fail_under = 50